<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <meta charset="UTF-8">
    <title>Vinyl</title>
</head>
<body>
<main>
    <div th:insert="fragments/fragments :: navbar"></div>
    <div class="m-auto d-flex justify-content-center mt-5">
        <form th:object="${authorViewModel}" method="post"
              class="text-danger bg-black border-danger d-flex flex-column p-5 border rounded">
            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                <p>The form contains errors</p>
            </div>
            <label th:for="name">Name</label>
            <input class="text-white form-control border-danger bg-black" type="text" th:value="${name}"
                   th:field="*{name}">
            <label th:for="age">Age</label>
            <input class="text-white form-control border-danger bg-black" type="number" th:value="*{age}" min="1"
                   max="120"
                   step="1"
                   th:field="*{age}">
            <label th:for="gender">Gender</label>
            <select class="text-white form-control border-danger bg-black" th:value="*{gender}" th:field="*{gender}">
                <option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender}"></option>
            </select>

            <button class="btn btn-bg-dark btn-outline-danger mt-5" type="submit">Add</button>
        </form>
    </div>
    <div th:insert="~{fragments/fragments::footer}">No footer</div>
</main>
</body>
</html>