<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <meta charset="UTF-8">
    <title>Vinyl</title>
</head>
<body>
<main>
    <div th:insert="fragments/fragments :: navbar"></div>
    <div class="d-flex flex-column m-auto mt-5 bg-black rounded w-25">
        <h1 class="d-flex justify-content-center p-3" th:text="${author.getName()}"></h1>
    </div>
    <hr>
    <div class="d-flex flex-column align-items-center table-responsive">
        <table class="table table-striped table-dark table-hover border-dark rounded rounded-3 overflow-hidden w-75">
            <tr>
                <th th:text="#{form.age}">Age</th>
                <th th:text="#{form.gender}">Gender</th>
            </tr>
            <tbody>
            <td th:text="${author.getAge()}"></td>
            <td th:text="${author.getGender()}"></td>
            </tbody>

        </table>
        <div class="d-inline p-3">
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#edit">
                <i class="bi bi-pencil-square"></i>
            </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete">
                <i class="bi bi-trash"></i>
            </button>
        </div>
        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-black">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editLabel" th:text="#{form.edit}">Edit author</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:method="put" th:action="@{/authors/{author}(author=${author.getName()})}"
                          th:object="${authorViewModel}"
                          class="text-danger bg-black p-5">
                        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                            <p>The form contained errors!</p>
                        </div>
                        <div class="modal-body d-flex flex-wrap">
                            <label class="form-label" th:for="name" th:text="#{form.name}">Name</label>
                            <input class="text-white form-control border-danger bg-black" type="text" th:field="*{name}"
                                   th:value="${author.getName()}"
                                   th:placeholder="${author.getName()}" th:default="${author.getName()}"/>
                            <label th:for="gender" th:text="#{form.gender}">Gender</label>
                            <select class="text-white form-control border-danger bg-black" th:field="*{gender}"
                                    th:value="${author.getGender()}"
                                    th:placeholder="${author.getGender()}" required>
                                <option selected="selected" th:value="${author.getGender()}"
                                        th:text="${author.getGender()}"></option>
                                <span th:each="gender : ${genders}" th:if="${gender!=author.getGender()}"> <option
                                        th:value="${gender}"
                                        th:text="${gender}"></option> </span>
                            </select>
                            <label class="form-label" th:for="age" th:text="#{form.age}">Age</label>
                            <!--                            TODO: This is default 0 for some reason, figure it out-->
                            <input class="text-white form-control border-danger bg-black" type="number"
                                   th:field="*{age}" th:value="${author.getAge()}"
                                   th:placeholder="${author.getAge()}" th:default="${author.getAge()}" step="1"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    th:text="#{form.close}">Close
                            </button>
                            <button type="submit" class="btn btn-success" th:text="#{form.edit}">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog"
             aria-labelledby="confirmDeleteLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-black">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteLabel" th:text="#{form.delete.confirm}">Confirm
                            Delete?</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" th:text="#{form.delete.prompt}">
                        Do you wish to delete this author?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{form.close}">
                            Close
                        </button>
                        <form th:method="delete" th:action="@{/authors/{author}(author=${author.getName()})}">
                            <button type="submit" class="btn btn-danger" th:text="#{form.delete}">Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{fragments/fragments::footer}">No footer</div>
</main>
</body>
</html>