<div th:fragment="navbar">
    <header class="bg-black rounded border-danger w-50 justify-content-center m-auto p-3">

        <div class="navbar navbar-expand-lg">
            <a class="navbar-brand text-white" href="../"><h1>Vinyl</h1>
                <p th:text="#{home.welcome}"></p></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-secondary rounded"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">
                            <button type="button" class="btn btn-dark">
                                <span th:text="#{home.home}"></span>
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/albums}">
                            <button type="button" class="btn btn-dark">
                                <span th:text="#{home.albums}"></span>
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/authors}">
                            <button type="button" class="btn btn-dark">
                                <span th:text="#{home.authors}"></span>
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/songs}">
                            <button type="button" class="btn btn-dark">
                                <span th:text="#{home.songs}"></span>
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/history}">
                            <button type="button" class="btn btn-dark">
                                <span th:text="#{home.history}"></span>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</div>


<div class="sticky-bottom p-0 mt-5 w-25 m-auto" th:fragment="footer">
    <footer class="text-center text-whit bg-black rounded">
        <p>&copy VINYL - FIFI CORP</p>
    </footer>
</div>
