<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="navbar">
    <p th:text="#{home.welcome}"></p>
    <div class="container-fluid">
    <ol>
        <li><a th:href="@{/albums}">Albums</a></li>
        <li><a th:href="@{/authors}">Authors</a></li>
        <li><a th:href="@{/songs}">Songs</a></li>
        <li><a th:href="@{/authors/addauthor}">Add Author</a></li>
        <li><a th:href="@{/albums/addalbum}">Add Album</a></li>
        <li><a th:href="@{/songs/addsong}">Add Songs</a></li>
    </ol>
    </div>
</div>


<div th:fragment="header">
    <header>
        <a href="../" class="navbar-brand"> <h1>Vinyl</h1> </a>
    </header>
</div>


<div th:fragment="footer" class="bg-light text-center">
        <p>&copy VINYL - FIFI CORP</p>
</div>
</body>
</html>