<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="navbar">
    <header>
        <div class="px-3 py-2 text-bg-dark">
            <a href="../" class="navbar-brand position-absolute left-0"> <h1>Vinyl</h1><p th:text="#{home.welcome}"></p> </a>
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="@{/}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    </a>

                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a th:href="@{/}" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                                Home
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/albums}" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                                Albums
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/authors}" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                                Authors
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/songs}" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                                Songs
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>


<div th:fragment="footer" class="text-cen fixed-bottom text-bg-dark">
        <p>&copy VINYL - FIFI CORP</p>
</div>
</body>
</html>