/* black-blue: #140c3c, lighter-red:#c42a44, deeper-red:#400c3c, light-gray:#cdcbd4, hover-gray:#847c9c */
html, main {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    color: #cdcbd4;
    background-color: #140c3c;
}

form {
    background: #400c3c;
}

ol {
    list-style-type: none;
}

footer {
    -webkit-text-stroke-color: #c42a44;
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: black;
    color: #cdcbd4;
}

table {
    width: 100%;
    background-color: #400c3c;
}

li {
    display: inline;
    padding: 10px;
}

a {
    color: #cdcbd4;
    text-decoration: none;
}

a:hover {
    color: #847c9c;
}