/* black-blue: #140c3c, lighter-red:#c42a44, deeper-red:#400c3c, light-gray:#cdcbd4, hover-gray:#847c9c */
html, main {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    color: #cdcbd4;
    background: rgb(40, 0, 9);
    background: linear-gradient(90deg, rgba(40, 0, 9, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, rgba(40, 0, 9, 1) 99%);
}

ol {
    list-style-type: none;
}

footer {
    color: #cdcbd4;
}

a {
    color: #cdcbd4;
    text-decoration: none;
}

a:hover {
    color: #847c9c;
}