<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Vinyl</title>
</head>
<body>
<main>
    <h1 class="d-flex justify-content-center p-5"> ERROR:<a th:text="${error}"></a></h1>
    <div th:insert="~{fragments/fragments::footer}">No footer</div>
</main>
</body>
</html>