<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <meta charset="UTF-8">
    <title>Vinyl</title>
</head>
<body>
<main>
    <div th:insert="fragments/fragments :: navbar"></div>

    <div class="d-flex flex-column m-auto mt-5 bg-black rounded w-50 h-50">
        <h1 class="d-flex justify-content-center p-3" th:text="#{home.introduction}"></h1>
        <p class="m-auto mb-5" th:text="#{home.content}"></p>
    </div>
    <div th:insert="~{fragments/fragments::footer}">No footer</div>
</main>
</body>
</html>