<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <meta charset="UTF-8">
    <title>Vinyl</title>
</head>
<body>
<main>
    <div th:insert="fragments/fragments :: navbar"></div>
    <div class="m-auto d-flex justify-content-center mt-5">
        <form th:object="${albumViewModel}" method="post"
              class="text-danger bg-black border-danger d-flex flex-column p-5 border rounded">
            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                <p th:text="#{form.error}">The form contains errors</p>
            </div>
            <label th:for="name" th:text="#{form.name}">Name</label>
            <input class="text-white form-control border-danger bg-black" type="text" th:value="${name}"
                   th:field="*{name}">
            <label th:for="year" th:text="#{form.year}">Year</label>
            <input class="text-white form-control border-danger bg-black" type="number" th:value="*{year}" min="1888"
                   max="2023"
                   step="1"
                   th:field="*{year}">
            <label th:for="genre" th:text="#{form.genre}">Genre</label>
            <select class="text-white form-control border-danger bg-black" th:value="*{genre}" th:field="*{genre}">
                <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}"></option>
            </select>
            <label th:for="author" th:text="#{form.author}">Author</label>
            <select class="text-white form-control border-danger bg-black" th:value="*{author}" th:field="*{author}">
                <option th:each="author : ${authors}" th:value="${author}" th:text="${author}"></option>
            </select>

            <button class="btn btn-bg-dark btn-outline-danger mt-5" type="submit" th:text="#{form.submit}">Add</button>
        </form>
    </div>


</main>
</body>
</html>