<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Vinyl</title>
</head>
<body>
  <div th:insert="fragments/fragments :: navbar"></div>
  <meta charset="UTF-8">
  <title>Vinyl</title>
  <table>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Genre</th>
    </tr>
      <tbody>
      <tr th:each="album : ${albums}">
        <td><a th:href="@{/albums/{album}(album=${album.getName()})}"
           th:text="${album.getName()}"></a></td>
        <td th:text="${album.getYear()}"></td>
        <td th:text="${album.getGenre()}"></td>
      </tbody>
  </table>
  <a th:href="@{/albums/addalbum}">
    Add album </a>
  <div th:insert="~{fragments/fragments::footer}">No footer</div>


</body>
</html>