<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <meta charset="UTF-8">
    <title>Vinyl</title>
</head>
<body>
<main>
    <div th:insert="fragments/fragments :: navbar"></div>
    <h1 class="d-flex justify-content-center p-3" th:text="${album.name}"></h1>
    <hr>
    <div class="d-flex flex-column align-items-center table-responsive">
        <table class="table table-striped table-dark table-hover w-75">
            <tr>
                <th>Songs</th>
                <th>Genre</th>
                <th>Author</th>
            </tr>
            <tbody>
            <tr th:each="song : ${album.songs}">
                <a th:href="@{/songs/{song}(song=${song.getTitle()})}">
                    <td th:text="${song.getTitle()}"></td>
                </a>
                <td th:text="${album.getGenre()}"></td>
                <td th:text="${album.getAuthor().getName()}"></td>
            </tr>
            </tbody>

        </table>
        <div class="d-inline p-3">
            <a th:href="@{/albums/{album}/edit(album=${album.name})}">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#edit">
                    <i class="bi bi-pencil-square"></i>
                </button>
            </a>
            <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editLabel">Edit album</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">                                <span aria-hidden="true">&times;</span>
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                            <form method="post" th:action="@{/albums/{album}/edit(album=${album.name})}">
                        <div class="modal-body">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" th:value="${album.name}" required>
                                <label for="genre">Genre</label>
                                <input type="text" name="genre" id="genre" th:value="${album.genre}" required>
                                <label for="author">Author</label>
                                <input type="text" name="author" id="author" th:value="${album.author.name}" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit">Edit</button>
                            </div>
                            </form>
                    </div>
                </div>
            </div>


            </div>

            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete">
                <i class="bi bi-trash"></i>
            </button>
            <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog"
                 aria-labelledby="confirmDeleteLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-black">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteLabel">Confirm Delete?</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Do you wish to delete this album?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form th:method="delete" th:action="@{/albums/{album}(album=${album.name})}">
                                <button type="submit" class="btn btn-danger">Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{fragments/fragments::footer}">No footer</div>
</main>
</body>
</html>