<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <meta charset="UTF-8">
    <title>Vinyl</title>
</head>
<body>
<main>
    <div th:insert="fragments/fragments :: navbar"></div>
    <div class="d-flex flex-column m-auto mt-5 bg-black rounded col-5">
    <h1 class="d-flex justify-content-center p-3" th:text="${album.getName()}"></h1>
    <a th:href="@{/authors/{author}(author=${album.getAuthor().getName()})}"> <h3 class="d-flex justify-content-center p-3"> <p th:text="${album.getAuthor().getName()}"></p> </h3> </a>
    </div>
    <hr>
    <div class="d-flex flex-column align-items-center table-responsive">
        <table class="table table-striped table-dark table-hover border-dark rounded rounded-3 overflow-hidden w-75">
            <tr>
                <th><p th:text="#{albums.songs}"></p></th>
                <th><p th:text="#{albums.genre}"></p></th>
                <th><p th:text="#{albums.year}"></p></th>
            </tr>
            <tbody>
            <tr th:each="song : ${album.getSongs()}">
                <td>
                <a th:href="@{/songs/{song}(song=${song.getTitle()})}">
                    <p th:text="${song.getTitle()}"></p>
                </a>
                </td>
                <td th:text="${album.getGenre()}"></td>
                <td th:text="${album.getYear()}"></td>
            </tr>
            </tbody>

        </table>
        <div class="d-inline p-3">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#edit">
                    <i class="bi bi-pencil-square"></i>
                </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete">
                <i class="bi bi-trash"></i>
            </button>
            </div>
        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-black">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editLabel"  th:text="#{form.edit}">Edit album</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:method="put" th:action="@{/albums/{album}(album=${album.getName()})}" th:object="${albumViewModel}">
                        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                            <p  th:text="#{form.error}">The form contained errors!</p>
                        </div>
                        <div class="modal-body d-flex flex-wrap">
                            <label class="form-label" th:for="name"  th:text="#{form.name}">Name</label>
                            <input class="text-white form-control border-danger bg-black" type="text" th:field="*{name}" th:value="${album.getName()}" th:placeholder="${album.getName()}" th:default="${album.getName()}"/>
                            <label th:for="genre"  th:text="#{form.genre}">Genre</label>
                            <select class="text-white form-control border-danger bg-black" th:field="*{genre}" th:value="${album.getGenre()}" th:placeholder="${album.getGenre()}" required>
                                <option selected="selected" th:value="${album.getGenre()}" th:text="${album.getGenre()}"></option>
                                <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}"></option>
                            </select>
                            <label class="form-label" th:for="author"  th:text="#{form.author}">Author</label>
                            <select class="text-white form-control border-danger bg-black" th:field="*{author}">
                                <option selected="selected" th:value="${album.getAuthor().getName()}" th:text="${album.getAuthor().getName()}"></option>
                                <span th:each="author : ${authors}" th:if="${author.getName()!=album.getAuthor().getName()}"> <option th:value="${author.getName()}" th:text="${author.getName()}"></option> </span>
                            </select>
                            <label class="form-label" th:for="year"  th:text="#{form.year}">Year</label>
                            <input class="text-white form-control border-danger bg-black" type="number" th:field="*{year}" th:value="${album.getYear()}" th:placeholder="${album.getYear()}" th:default="${album.getYear()}" min="1888" max="2023" step="1"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  th:text="#{form.close}">Close</button>
                            <button type="submit" class="btn btn-success"  th:text="#{form.edit}">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

            <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog"
                 aria-labelledby="confirmDeleteLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-black">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteLabel"  th:text="#{form.delete.prompt}">Confirm Delete?</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"  th:text="#{form.delete.confirm}">
                            Do you wish to delete this album?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  th:text="#{form.close}">Close</button>
                            <form th:method="delete" th:action="@{/albums/{album}(album=${album.getName()})}">
                                <button type="submit" class="btn btn-danger"  th:text="#{form.delete}">Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{fragments/fragments::footer}">No footer</div>
</main>
</body>
</html>