<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <meta charset="UTF-8">
    <title>Vinyl</title>
</head>
<body>
<main>
    <div th:insert="fragments/fragments :: navbar"></div>
    <h1 class="d-flex justify-content-center p-3" th:text="${album.name}"></h1>
    <a th:href="@{/authors/{author}(author=${album.author.name})}"> <h3 class="d-flex justify-content-center p-3"> <p th:text="${album.author.name}"></p> </h3> </a>
    <hr>
    <div class="d-flex flex-column align-items-center table-responsive">
        <table class="table table-striped table-dark table-hover w-75">
            <tr>
                <th><p th:text="#{albums.songs}"></p></th>
                <th><p th:text="#{albums.genre}"></p></th>
                <th><p th:text="#{albums.year}"></p></th>
            </tr>
            <tbody>
            <tr th:each="song : ${album.songs}">
                <td>
                <a th:href="@{/songs/{song}(song=${song.getTitle()})}">
                    <p th:text="${song.getTitle()}"></p>
                </a>
                </td>
                <td th:text="${album.getGenre()}"></td>
                <td th:text="${album.getYear()}"></td>
            </tr>
            </tbody>

        </table>
        <div class="d-inline p-3">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#edit">
                    <i class="bi bi-pencil-square"></i>
                </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete">
                <i class="bi bi-trash"></i>
            </button>
            </div>
        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-black">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editLabel">Edit album</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:method="put" th:action="@{/albums/{album}(album=${album.name})}" th:object="${albumViewModel}">
                        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                            <p>The form contained errors!</p>
                        </div>
                        <div class="modal-body d-flex flex-wrap">
                            <label class="form-label" th:for="name">Name</label>
                            <input class="form-control" type="text" th:field="*{name}" th:value="${album.name}" th:placeholder="${album.name}" th:default="${album.name}"/>
                            <label th:for="genre">Genre</label>
                            <select class="form-control" th:field="*{genre}" th:value="${album.genre}" th:placeholder="${album.genre}" required>
                                <option selected="selected" th:value="${album.genre}" th:text="${album.genre}"></option>
                                <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}"></option>
                            </select>
                            <label class="form-label" th:for="author">Author</label>
                            <select class="form-control" th:field="*{author}">
                                <option selected="selected" th:value="${album.author.name}" th:text="${album.author.name}"></option>
                                <span th:each="author : ${authors}" th:if="${author.getName()!=album.author.name}"> <option th:value="${author.getName()}" th:text="${author.getName()}"></option> </span>
                            </select>
                            <label class="form-label" th:for="year">Year</label>
                            <input class="form-control" type="number" th:field="*{year}" th:value="${album.year}" th:placeholder="${album.year}" th:default="${album.year}" min="1900" max="2023" step="1"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

            <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog"
                 aria-labelledby="confirmDeleteLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-black">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteLabel">Confirm Delete?</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Do you wish to delete this album?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form th:method="delete" th:action="@{/albums/{album}(album=${album.name})}">
                                <button type="submit" class="btn btn-danger">Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{fragments/fragments::footer}">No footer</div>
</main>
</body>
</html>